* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #424242;
    background-color: #f5f5f5;
    background-image: url(../img/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    header {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #f5f5f5;
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
        .header-name {
            padding: 20px;
            font-size: 20px;
            font-weight: 500;
            font-family: Montserrat, Helvetica, sans-serif;
            line-height: 1;
            &__first {
                color: rgb(73, 81, 93);
            }
            &__last {
                color: rgb(46, 202, 127);
            }
        }
        .site-nav {
            padding: 20px;
            ul li {
                display: inline;
                text-align: center;
                padding: 20px;
                
                a {
                    color: #9e9e9e;
                    text-decoration: none;
                    &:hover, &.active-page {
                        color: #424242;
                        border-bottom: 3px solid #2eca7f;
                        padding: 8px 0;
                    }
                }
            }
        }
        .mobile-bars {
            display: none;
        }
        .side-nav {
            position: fixed;
            z-index: 1;
            height: 100%;
            width: 0px;
            top: 50px;
            right: 0;
            background-color: #2eca7f;
            transition: 0.5s;
            padding-top: 40px;
            text-align: center;
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 20px;
                color: #ffffff;
                display: block;
            }
        }
    }
    .site-main {
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .home {
            .home-flex-container {
                display: flex;
                flex-direction: column;
                margin-bottom: 7%;
                margin-top: 11%;
                width:80%;
                border-radius: 15px;
                background-color: #fff;
                box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
                .page-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    background-color: #2eca7f;
                    background-image: url(../img/sp_main_bg.png);
                    background-size: cover;
                    border-radius: 15px 15px 0 0;
                    width: 100%;
                    .photo {
                        transform: translateY(10px);
                        img{
                            width: 274px;
                            height: 274px;
                        }
                    }
                    .page-header__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        &_name {
                            color: rgb(255, 255, 255);
                            font-size: 54px;
                            font-weight: 700;
                            margin: 30px 0px 0px;
                        }
                        &_title {
                            color: rgb(255, 255, 255);
                            font-size: 18px;
                            margin: 0px;
                        }
                    }  
                }
                .page-content {
                    display: flex;
                    flex-direction: row;
                    .about-me {
                        padding: 50px;
                        width: 50%;
                    }
                    .info-list {
                        padding: 50px;
                        width: 50%;
                        ul li {
                            list-style: none;
                            .title {
                                display: inline-block;
                                min-width: 120px;
                            }
                            .value {
                                display: inline-block;
                                color: #9e9e9e;
                            }
                        }   
                    }
                } 
            }
            
        }
        .resume {
            .resume-flex-container {
                display: flex;
                flex-direction: column;
                margin-bottom: 7%;
                margin-top: 11%;
                width:80%;
                border-radius: 15px;
                background-color: #fff;
                box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
                .resume-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    background-color: #2eca7f;
                    background-image: url(../img/sp_main_bg.png);
                    background-size: cover;
                    border-radius: 15px 15px 0 0;
                    width: 100%;
                    .resume-header__info {
                        margin: 30px 0;
                        &_name {
                            color: rgb(255, 255, 255);
                            font-size: 54px;
                            font-weight: 700;
                        }
                    }  
                }
                .resume-content {
                    display: flex;
                    flex-direction: row;
                    .education {
                        width: 50%;
                    }
                    .experience {
                        width: 50%;
                    }
                }   
            }
        }
    }
    footer {
        margin-bottom: 12px;
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    body {
        header {
            .site-nav {
                display: none;
            }
            .mobile-bars {
                padding: 20px;
                display: block;
            }
        }
        .site-main {
            .home {
                margin-top: 3%;
                .home-flex-container{
                    .page-header {
                        flex-wrap: wrap;
                        .name {
                            width: 100%;
                        }
                    }
                    .page-content {
                        flex-wrap: wrap;
                        .about-me { 
                            width: 100%;
                        }
                        .info-list {
                            width: 100%;
                        }
                    }
                }           
            }
            .resume {
                margin-top: 3%;
                .resume-flex-container{
                    .resume-header {
                        flex-wrap: wrap;
                    }
                    .resume-content {
                        flex-wrap: wrap;
                        .education {
                            width: 100%;
                        }
                        .experience {
                            width: 100%;
                        }
                    }
                } 
            }
        }
    }   
}