* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #424242;
  background-color: #f5f5f5;
  background-image: url(../img/main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
body header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}
body header .header-name {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: Montserrat, Helvetica, sans-serif;
  line-height: 1;
}
body header .header-name__first {
  color: #49515d;
}
body header .header-name__last {
  color: #2eca7f;
}
body header .site-nav {
  padding: 20px;
}
body header .site-nav ul li {
  display: inline;
  text-align: center;
  padding: 20px;
}
body header .site-nav ul li a {
  color: #9e9e9e;
  text-decoration: none;
}
body header .site-nav ul li a:hover, body header .site-nav ul li a.active-page {
  color: #424242;
  border-bottom: 3px solid #2eca7f;
  padding: 8px 0;
}
body header .mobile-bars {
  display: none;
}
body header .side-nav {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 0px;
  top: 50px;
  right: 0;
  background-color: #2eca7f;
  transition: 0.5s;
  padding-top: 40px;
  text-align: center;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
body header .side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}
body .site-main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .site-main .home .home-flex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  margin-top: 11%;
  width: 80%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
body .site-main .home .home-flex-container .page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #2eca7f;
  background-image: url(../img/sp_main_bg.png);
  background-size: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
body .site-main .home .home-flex-container .page-header .photo {
  transform: translateY(10px);
}
body .site-main .home .home-flex-container .page-header .photo img {
  width: 274px;
  height: 274px;
}
body .site-main .home .home-flex-container .page-header .page-header__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .site-main .home .home-flex-container .page-header .page-header__info_name {
  color: white;
  font-size: 54px;
  font-weight: 700;
  margin: 30px 0px 0px;
}
body .site-main .home .home-flex-container .page-header .page-header__info_title {
  color: white;
  font-size: 18px;
  margin: 0px;
}
body .site-main .home .home-flex-container .page-content {
  display: flex;
  flex-direction: row;
}
body .site-main .home .home-flex-container .page-content .about-me {
  padding: 50px;
  width: 50%;
}
body .site-main .home .home-flex-container .page-content .info-list {
  padding: 50px;
  width: 50%;
}
body .site-main .home .home-flex-container .page-content .info-list ul li {
  list-style: none;
}
body .site-main .home .home-flex-container .page-content .info-list ul li .title {
  display: inline-block;
  min-width: 120px;
}
body .site-main .home .home-flex-container .page-content .info-list ul li .value {
  display: inline-block;
  color: #9e9e9e;
}
body .site-main .resume .resume-flex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  margin-top: 11%;
  width: 80%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
body .site-main .resume .resume-flex-container .resume-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #2eca7f;
  background-image: url(../img/sp_main_bg.png);
  background-size: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
body .site-main .resume .resume-flex-container .resume-header .resume-header__info {
  margin: 30px 0;
}
body .site-main .resume .resume-flex-container .resume-header .resume-header__info_name {
  color: white;
  font-size: 54px;
  font-weight: 700;
}
body .site-main .resume .resume-flex-container .resume-content {
  display: flex;
  flex-direction: row;
}
body .site-main .resume .resume-flex-container .resume-content .education {
  width: 50%;
}
body .site-main .resume .resume-flex-container .resume-content .experience {
  width: 50%;
}
body footer {
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  body header .site-nav {
    display: none;
  }
  body header .mobile-bars {
    padding: 20px;
    display: block;
  }
  body .site-main .home {
    margin-top: 3%;
  }
  body .site-main .home .home-flex-container .page-header {
    flex-wrap: wrap;
  }
  body .site-main .home .home-flex-container .page-header .name {
    width: 100%;
  }
  body .site-main .home .home-flex-container .page-content {
    flex-wrap: wrap;
  }
  body .site-main .home .home-flex-container .page-content .about-me {
    width: 100%;
  }
  body .site-main .home .home-flex-container .page-content .info-list {
    width: 100%;
  }
  body .site-main .resume {
    margin-top: 3%;
  }
  body .site-main .resume .resume-flex-container .resume-header {
    flex-wrap: wrap;
  }
  body .site-main .resume .resume-flex-container .resume-content {
    flex-wrap: wrap;
  }
  body .site-main .resume .resume-flex-container .resume-content .education {
    width: 100%;
  }
  body .site-main .resume .resume-flex-container .resume-content .experience {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
